.navMenu {
  padding: 15px;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ccc;
  margin-bottom: 20px;
}