.component-results
{
	margin: 128 0 0 -140;
	padding-left: 5px;
	height: auto;
	position: relative;
	display: table-cell;
	vertical-align: top;
}
.component-movie-result-row-background {
	border-top: 2px solid #04161a;
    padding: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: top;
	position:relative;
}
.component-movie-result-row {
  display: table;
  height: auto;
  position: relative;
  cursor:default;
  
}

.component-movie-result-row img {
  width: 128px;
  height: 172px;
  padding-left: 10px;
  display: table-cell;
}

.component-websites-results {
  margin: 128 0 0 -140;
  height: auto;
  position: relative;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: top;
  display: table-cell;
}